header {
    text-align: center;
    background-color: rgba(101, 56, 56, 0.904);
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 3px;
    margin: 0 40px 10px 40px;
}
#Aboutme {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(190, 175, 175);
    border: 2px solid black;
    align-items: center;
    text-align: center;
    margin: 10px 40px 10px 40px;
}
body {
    background-color: beige;
    padding: 0;
    font-size: 20px;
}
#Skills {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(190, 175, 175);
    border: 2px solid black;
    align-items: center;
    margin: 10px 40px 10px 40px;
}
#Projects {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(190, 175, 175);
    border: 2px solid black;
    align-items: center;
    margin: 10px 40px 10px 40px;
}
#Contact {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(190, 175, 175);
    border: 2px solid black;
    align-items: center;
    margin: 10px 40px 10px 40px;
}
button {
    background-color: rgb(163, 140, 140);
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}