header {
    text-align: center;
    background-color: rgba(101, 56, 56, 0.904);
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 3px;
    margin: 0 0 10px 0;
}
#Aboutme {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(190, 175, 175);
    border: 2px solid black;
    align-items: center;
    text-align: center;
}
body {
    background-color: beige;
    padding: 0;
}
#Skills {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(190, 175, 175);
    border: 2px solid black;
    align-items: center;
    margin: 10px 0 10px 0;
}
#Projects {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(190, 175, 175);
    border: 2px solid black;
    align-items: center;
    margin: 10px 0 10px 0;
}
#Contact {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(190, 175, 175);
    border: 2px solid black;
    align-items: center;
    margin: 10px 0 10px 0;
}